 /*!Footer fixed at the bottom of the page!*/

html {}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 60px;
}

h1 {
    font-size: 50px;
}

#navbar {
    margin-top: 60px;
    z-index: 10;
}

.nav-item-left {
    padding-left : 100px;
    float: left;
}

.nav-item-right {
    padding-right: 100px;
    float: right;
}

.fixed-action-btn, ul {
    margin: 1% !important;
    right: 0px !important;
    transform: translateY(0%) !important;
    position: static !important;
    text-align: center !important;
    width: 100% !important;
}

.fixed-action-btn, img {
    display: block;
    margin: auto;
}

#contactForm, #emailAddress, #phoneNumber {
    display: none;
}

/*Header brackets*/

.visible {
    position: relative;

}

.visible:before {
    content: '[';
    left: -20px;
    line-height: 80px;
}
.visible:after {
    content: ']';
    right: -20px;
    line-height: 80px;
}
.visible:after, .visible:before {
    position: absolute;
    color: #16a085;
    font-size: 82px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}
