extends ./index.jade

block styles
  //- Main Stylesheet
  link(rel="stylesheet" href="../../../styles/main.css")
  
  //- Favicon
  link(rel='shortcut icon' href='../../../favicon.ico' type='image/x-icon')

append header

 .chip
      - var lc = locales.filter(x => x  === locale && !!lang(x));
        
         if lc == "fr" 
          a(href='/' + lc)
           svg(style="width:24px;height:24px" viewBox="0 0 24 24")
              path(fill="#000000" d="M5,13L9,17L7.6,18.42L1.18,12L7.6,5.58L9,7L5,11H21V13H5M21,6V8H11V6H21M21,16V18H11V16H21Z")          
         else 
          a(href='/')
           svg(style="width:24px;height:24px" viewBox="0 0 24 24")
              path(fill="#000000" d="M5,13L9,17L7.6,18.42L1.18,12L7.6,5.58L9,7L5,11H21V13H5M21,6V8H11V6H21M21,16V18H11V16H21Z")
         
              
block content


  .container
   section.row#formFeedback
    .col.s12.m6.push-m3.card
     .card-content.center
      h3=__('Thank you.') 
      h4=__('We will definitely be in touch!')
      
      
block scripts
    
    //- Malarkey
    script(type="text/javascript" src="../../../scripts/malarkey.min.js")
    
    //- Main JS file
    script(type="text/javascript" src="../../../scripts/main.js")

