doctype html
html(lang = locale)
  head
    //- Meta Tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    //- Google Icon Font
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    
    //- MaterializeCSS
    //- Compiled and minified CSS
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
    
    //- Animate.css
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    
    block styles

    title=__('Charles-Henri Decultot | Business and Technology Consultant')
  
  body.blue-grey.lighten-5.blue-grey-text.text-darken-2  
    header
      block header 
    
    main
      block content

    footer
      include ./footer.jade
    
    //- Javascript
    //- JQuery: Required for MaterializeCSS
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous")
    
    //- MaterializeCSS
    //- Compiled and minified JavaScript -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
    
    block scripts
